.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.list-group-item {
    padding: 0.75rem 0.75rem;
}

.track-position {
    float: left;
}

ul {
    height: 100%;
    overflow: scroll;
}


#tracklist-sidebar {
    border: 1px solid rgba(0,0,0,.125);
    padding-top: 56px;
    height: 100%;
}

#player-content {
    height: 100%;
    overflow: hidden;
    padding-top: 56px;
    padding-bottom: 0px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#player {
    border: 1px solid rgba(0,0,0,.125);
}