
body {
  padding-top: 50px;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

#edit-profile{
  padding-top: 20px;
  padding-bottom: 20px;
}

.editsection{
  padding-top: 20px;
  padding-bottom: 20px;
}

 


