{% extends "base_generic.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'mixlist/charts.css' %}" >{% endblock %}

    {% block title %}<title>Charts</title>{% endblock %}

{% block content %}
<!--Dropdown menus-->
	<table id="filters" cellpadding="20">
		<tr>
			<td>
				<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Top 5
				<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">Top 10</a></li>
						<li><a href="#">Top 50</a></li>
						<li><a href="#">Top 100</a></li>
					</ul>	
				</div>
			</td>
			<td>
				<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Most Played
				<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">Most Liked</a></li>
					</ul>	
				</div>
			</td>
			<td>
				<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" id="top" type="button" data-toggle="dropdown">USA
				<span class="caret"></span></button>
					<ul class="dropdown-menu scrollable-menu">
						<li><a href="#">All countries</a></li>
						<li><a href="#">Afghanistan</a></li>
						<li><a href="#">Albania</a></li>
						<li><a href="#">Algeria</a></li>
						<li><a href="#">Andorra</a></li>
						<li><a href="#">Angola</a></li>
						<li><a href="#">Antigua</a></li>
						<li><a href="#">Argentina</a></li>
						<li><a href="#">Armenia</a></li>
						<li><a href="#">Aruba</a></li>
						<li><a href="#">Australia</a></li>
						<li><a href="#">Austria</a></li>
						<li><a href="#">Azerbaijan</a></li>
						<li><a href="#">Bangladesh</a></li>
						<li><a href="#">Barbados</a></li>
					</ul>	
				</div>
			</td>
			<td>
				<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" id="top" type="button" data-toggle="dropdown">All genres
				<span class="caret"></span></button>
					<ul class="dropdown-menu scrollable-menu">
						<li><a href="#">Ambient</a></li>
						<li><a href="#">Drum 'n' Bass</a></li>
						<li><a href="#">Electronic</a></li>
						<li><a href="#">Grime</a></li>
						<li><a href="#">Hip Hop</a></li>
						<li><a href="#">House</a></li>
						<li><a href="#">Reggaeton</a></li>
						<li><a href="#">RnB</a></li>
						<li><a href="#">Trance</a></li>
					</ul>	
				</div>
			</td>
			<td>
				<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" id="top" type="button" data-toggle="dropdown">This week
				<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">This month</a></li>
						<li><a href="#">This year</a></li>
						<li><a href="#">All time</a></li>
					</ul>	
				</div>
			</td>
		</tr>
	</table>

<!--Charts Table-->	

    <table class="table table-striped" id="chart"> 
		<thead> 
			<tr> 
				<th>#</th>
				<th></th>
				<th></th>
				<th>Artist</th>
				<th>Length</th>
				<th>Likes</th>
				<th>Plays</th>
			</tr> 
		</thead>
		<tbody>
{% for Mix in object_list %}		
			<tr>
			<td>{{forloop.counter}}</td>
			<td width="5%">
							{% if Mix.image %}
                            <img class="mix_img" src="{{Mix.image.url}}">
                            {% else %}
                            <img class="mix_img" src="http://via.placeholder.com/500x500">
                            {% endif %}
					</td>
			<td><a id="mix" href="/mix/{{Mix.slug}}">{{ Mix.title }}</a><br /><a id="uploader" href="{{ Mix.uploader.get_absolute_url }}"><i class="fas fa-user mr-1"></i>{{ Mix.uploader }}</a></td>
			<td>{{ Mix.artist }}</td>
			<td>{{ Mix.length }}</td>
			<td>{{ Mix.like_count }}</td>
			<td>{{ Mix.play_count }}</td>
			</tr>
{% endfor %}			
		</tbody> 
	</table>

  
	
{% endblock %}
