{% extends "base_generic.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'mixlist/charts.css' %}" >{% endblock %}

    {% block title %}<title>Charts</title>{% endblock %}
	
{% block javascript %}
<script src="{% static 'mixlist/sort_chart.js' %}"></script>
<script src="{% static 'mixlist/sorttable.js' %}"></script>
{% endblock %}


{% block content %}
<!--Dropdown menus-->
	<table id="filters" cellpadding="20">
		<tr>
			<td>
				<div class="dropdown">
				<select class="btn btn-secondary dropdown-toggle">
				<ul class="dropdown-menu scrollable-menu">
					<option>Top 5</option>
					<option>Top 10</option>
					<option>Top 100</option>
					</ul>
				</select>
				</div>
			</td>
			<td>
				<div class="dropdown">
				<select class="btn btn-secondary dropdown-toggle" onchange="sortTable(value)">
					<option value="6">Most Played</option>
					<option value="5">Most Liked</option>
				</select>
				</div>
			</td>
			<td>
				<div class="dropdown"">
				<select class="btn btn-secondary dropdown-toggle">
				<ul class="dropdown-menu scrollable-menu">
						<li><option>All countries</option></li>
						<li><option>Afghanistan</option></li>
						<li><option>Albania</option></li>
						<li><option>Algeria</option></li>
						<li><option>Andorra</option></li>
						<li><option>Angola</option></li>
						<li><option>Antigua</option></li>
						<li><option>Argentina</option></li>
						<li><option>Armenia</option></li>
						<li><option>Aruba</option></li>
						<li><option>Australia</option></li>
						<li><option>Austria</option></li>
						<li><option>Azerbaijan</option></li>
						<li><option>Bangladesh</option></li>
						<li><option>Barbados</option></li>
					</ul>
				</select>
				</div>
			</td>
			<td>
				<div class="dropdown"">
				<select class="btn btn-secondary dropdown-toggle">
				<ul class="dropdown-menu scrollable-menu">
						<option>All genres</option>
						<option>Ambient</option>
						<option>Drum 'n' Bass</option>
						<option>Electronic</option>
						<option>Grime</option>
						<option>Hip Hop</option>
						<option>House</option>
						<option>Reggaeton</option>
						<option>RnB</option>
						<option>Trance</option>
					</ul>	
				</div>
			</td>
			<td>
				<div class="dropdown"">
				<select class="btn btn-secondary dropdown-toggle">
				<ul class="dropdown-menu scrollable-menu">
					<ul class="dropdown-menu">
						<option>This month</option>
						<option>This year</option>
						<option>All time</option>
					</ul>	
				</div>
			</td>
		</tr>
	</table>

<!--Charts Table-->	

    <table class="table table-striped sortable" id="chart"> 
		<thead> 
			<tr> 
				<th style="cursor: pointer;">#</th>
				<th></th>
				<th style="cursor: pointer;">Title</th>
				<th style="cursor: pointer;">Artist</th>
				<th style="cursor: pointer;">Length</th>
				<th style="cursor: pointer;">Likes</th>
				<th style="cursor: pointer;">Plays</th>
			</tr> 
		</thead>
		<tbody>
{% for Mix in object_list %}		
			<tr>
			<td>{{forloop.counter}}</td>
			<td width="5%">
							{% if Mix.image %}
                            <img class="mix_img" src="{{Mix.image.url}}">
                            {% else %}
                            <img class="mix_img" src="http://via.placeholder.com/500x500">
                            {% endif %}
					</td>
			<td width="40%"><a id="mix" href="/mix/{{Mix.slug}}">{{ Mix.title }}</a><br /><a id="uploader" href="{{ Mix.uploader.get_absolute_url }}"><i class="fas fa-user mr-1"></i>{{ Mix.uploader }}</a></td>
			<td>{{ Mix.artist }}</td>
			<td>{{ Mix.length }}</td>
			<td>{{ Mix.like_count }}</td>
			<td>{{ Mix.play_count }}</td>
			</tr>
{% endfor %}			
		</tbody> 
	</table>

  
	
{% endblock %}
