{% extends "base_generic.html" %}

{% block title %}<title>Edit Mix</title>{% endblock %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'mixlist/upload.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<h1 class="jumbotron-heading" id="upload-a-mix">{% block heading %}{% endblock %}</h1>
		</div>
	</div>		
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			{% block file %}{% endblock %}
            
            <!-- #### BASIC DATA #### -->
			<div class="font-weight-bold text-center separator">
				Basic Data <hr>
			</div>
			<div class="upload-section">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Title:</label>
					<div class="col-sm-10">
						<input type="" class="form-control" id="title" placeholder="" value="{{mix.title}}">
					</div>
				</div>	
				<div class="form-group row">					
					<label class="col-sm-2 col-form-label">Author:</label>
					<div class="col-sm-10">
						<input type="" class="form-control" id="author" placeholder="(Leave black if you are the author)" value="{{mix.artist}}">
					</div>
				</div>
			</div>
			
			<div class="card mx-2 my-3">
				<div class="card-body">
					<audio id="audioFile">
						<source src="{{mix.audio_file.url}}">
					</audio>
					<!-- controls -->
					<div class="controls d-flex justify-content-center mt-1">
						<i class="fas fa-lg fa-step-backward mx-3 text-dark"></i>
						<a>
							<i class="fas fa-lg fa-play mx-3 text-dark" onclick="togglePlay(this)"></i>
						</a>
						<i class="fas fa-lg fa-step-forward mx-3 text-dark"></i>
					</div>

					<!-- progress bar -->
					<div class="py-2">
						<a class="progress-label align-top" id="duration">0:00</a>
						<div class="progress mt-1">
							<div class="progress-bar bg-secondary" role="progressbar"  id="progressBar" style="width: 0%"></div>
						</div>
					</div>
					
				</div>
			</div>



            <!-- #### TAGS #### -->  
			<div class="text-center separator">
				<a class="font-weight-bold">Tags</a> <!-- <a class="text-muted">(tracks, articles, images, etc.)</a> --><hr>
			</div>
            
            <div class="scrub-bar-container">
                <input type="range" min="0" max="4000" value="0" class="slider" id="scrub-bar">
            </div>
            
            <div class="col-sm-12 row">
				<input type="" class="col-sm-2 form-control" id="tag-new-time" placeholder="" value="00:00:00" readonly>
				<input type="" class="col-sm-5 form-control" id="tag-new-title" placeholder="Title" value="">
				<input type="" class="col-sm-5 form-control" id="tag-new-artist" placeholder="Artist" value="">
			</div>
			<div class="col-sm-12 row">
				<input type="" class="form-control" id="tag-new-links" placeholder="Links" value="">
			</div>
            
            <div class="upload-section">
				<a class="btn btn-outline-success my-2 my-sm-0 text-muted" id="tag-add">Add Tag</a>
			</div>
            
			<div class="upload-section" id="tags">
				{% block tags %}{% endblock %}
			</div>
			
		<div>
		<div class="col-lg-3"></div>
	 </div>
	 <div class="row">
		<div class="col-lg-12 text-center upload-section">
			<a class="btn btn-outline-success my-2 my-sm-0 text-muted" id="finish">Finish</a>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
	{% load static %}
	<script src="{% static 'mixlist/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'mixlist/upload.js' %}"></script>	
	<script id="tag-new" type="text/html">		
		<!-- #### BLANK TAG TEMPLATE #### -->
        <div class="tag" id="¶id">			
			<div class="col-sm-12 row">
				<input type="" class="col-sm-2 form-control tag-start" placeholder="Start Time" value="¶startTime" readonly>
				<input type="" class="col-sm-5 form-control tag-title" placeholder="Title" value="¶title" readonly>
				<input type="" class="col-sm-5 form-control tag-author" placeholder="Artist" value="¶artist" readonly>
			</div>
			<div class="col-sm-12 row">
				<input type="" class="form-control tag-link" placeholder="Links" value="¶links" readonly>
			</div>
			<div class="col-sm-12 row">
				<a class="btn btn-outline-success my-2 my-sm-0 text-muted tag-remove">Remove Tag</a>
                <a class="btn btn-outline-success my-2 my-sm-0 text-muted tag-edit">Edit Tag</a>
			</div>			
		</div>		
	</script>
	{% block add_script %}
	{% endblock %}
{% endblock %}