{% extends "editor_generic.html" %}

{% block title %}<title>Edit Mix</title>{% endblock %}

{% block heading %}Edit Mix{% endblock %}



{% block add_script %}
<script>
$(document).ready(function() {
	{% for member in mix.playlistmembership_set.all %}
        var links = [];        
        {% for link in member.track.get_links %}
            links.push("{{ link }}");
        {% endfor %}
		addExistingTag("{{member.time}}","{{member.track.title}}","{{member.track.artist}}", links);
	{% endfor %}
    tags.sort(compareTags);
    displayTags();
});
</script>
{% endblock %}