{% extends "base_generic.html" %}

{% load static %}

{% block javascript %}
<script src="{% static 'mixlist/player.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container-fluid">
        <div class="row">
            <!-- body content -->
            <div class="col-md-9">
                <h3>{{mix.title}}</h2>
                <h5>{{mix.upload_date}}</h4>
            </div>

            <div class="col-md-3 pre-scrollable d-none d-md-block bg-light sidebar">
                {% for member in mix.playlistmembership_set.all %}
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex w-100 justify-content-start">
                            <div class="py-2 pr-3 text-dark">
                                <i class="fas fa-music fa-lg"></i>
                            </div>
                            <div>
                                <h6 class="mb-0">{{member.track.title}}</h6>
                                <p class="mb-1 font-weight-light">{{member.track.artist}}</p>            
                                <div class="btn-group btn-group-sm" role="group">
                                {% for link in member.track.links.all %}
                                    {% if link.provider == "SPOTIFY" %}
                                        <a class="btn btn-outline-secondary" href="{{link.url}}" target="_blank"><i class="fab fa-spotify"></i></a>
                                    {% endif %}
                                    {% if link.provider == "APPLEMUSIC" %}
                                        <a class="btn btn-outline-secondary" href="{{link.url}}" target="_blank"><i class="fab fa-apple"></i></a>
                                    {% endif %}
                                    {% if link.provider == "SOUNDCLOUD" %}
                                        <a class="btn btn-outline-secondary" href="{{link.url}}" target="_blank"><i class="fab fa-soundcloud"></i></a>
                                    {% endif %}
                                    {% if link.provider == "YOUTUBE" %}
                                        <a class="btn btn-outline-dark" href="{{link.url}}" target="_blank"><i class="fab fa-youtube"></i></a>
                                    {% endif %}
                                {% endfor %}
                                </div>    
                            </div>
                            <a class="track-time ml-auto pl-2" data-time="{{member.time.total_seconds}}" href="#"><small>{{member.time}}</small></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>

    <!-- player bottom bar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-bottom bg-light">
        <!-- audio file -->
        <audio id="audioFile">
            <source src="{{mix.audio_file.url}}">
        </audio>

        <div class="navbar-brand col-sm-3"></div>
        <div class="col-sm-6 my-2">
                <!-- controls -->
                <div class="controls d-flex justify-content-center">
                    <i class="fas fa-lg fa-step-backward mx-3 text-dark"></i>
                    <a class="fas fa-lg fa-play mx-3 text-dark" onclick="togglePlay(this)"></a>
                    <i class="fas fa-lg fa-step-forward mx-3 text-dark"></i>
                </div>

                <!-- progress bar -->
                <div class="py-2">
                    <a class="progress-label align-top" id="duration">0:00</a>
                    <div class="progress mt-1">
                        <div class="progress-bar" role="progressbar"  id="progressBar" style="width: 0%"></div>
                    </div>
                </div>

        </div>
        <div class="col-sm-3"></div>

    </nav>
{% endblock %}