{% extends "base_generic.html" %}

{% load static %}

<!-- css for this page -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'mixlist/mix_detail.css' %}" />
{% endblock %}

<!-- javascript for this page -->
{% block javascript %}
<script type="text/javascript">
    let playlist = {{playlist|safe}};
</script>
<script src="{% static 'mixlist/player.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container-fluid">
        <div class="row">
            <!-- body content -->
            <div class="col-xl-8 col-lg-8">
                <!-- mix card -->
                <div class="card box-shadow my-3">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <!-- card contents -->
                                <h4 class="card-title">{{mix.title}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-user mr-1"></i>{{mix.uploader}}</h6>
                                <div class="d-flex justify-content-between mb-2 text-muted">
                                    <small>
                                        <i class="fas fa-calendar mr-2"></i>{{mix.upload_date|date}}
                                    </small>
                                    <small>
                                        <i class="fas fa-headphones mr-2"></i>{{ mix.play_count }} Listen{{mix.play_count|pluralize}}
                                    </small>
                                    <small>
                                        <i class="fas fa-heart mr-2"></i>{{mix.like_count}} Like{{mix.like_count|pluralize}}
                                    </small>
                                </div>
                                <p>{{mix.description}}</p>
                            </div>
                        </div>
                        <!-- card image -->
                        <div class="col-md-4">
                            {% if mix.image %}
                            <img class="card-img" src="{{mix.image.url}}">
                            {% else %}
                            <img class="card-img" src="http://via.placeholder.com/500x500">
                            {% endif %}
                        </div>
                    </div>

                    <!-- audio player -->
                    <div class="card-footer bg-white">
                        <!-- audio file -->
                        <audio id="audioFile">
                            <source src="{{mix.audio_file.url}}">
                        </audio>
                        <!-- controls -->
                        <div class="controls d-flex justify-content-center mt-1">
                            <i class="fas fa-lg fa-step-backward mx-3 text-dark"></i>
                            <a>
                                <i class="fas fa-lg fa-play mx-3 text-dark" onclick="togglePlay(this)"></i>
                            </a>
                            <i class="fas fa-lg fa-step-forward mx-3 text-dark"></i>
                        </div>
            
                        <!-- progress bar -->
                        <div class="py-2">
                            <a class="progress-label align-top" id="duration">0:00</a>
                            <div class="progress mt-1">
                                <div class="progress-bar bg-secondary" role="progressbar"  id="progressBar" style="width: 0%"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- now playing card -->
                <div class="card box-shadow">
                    <h6 class="card-header">Now Playing</h6>
                    <div class="card-body">
                        <h5 class="card-title" id="now-playing-title"></h5>
                        <h6 class="card-subtitle font-weight-light mb-2"id="now-playing-artist"></h6>
                        <div id="now-playing-links">
                        </div>
                    </div>
                </div>

            </div>

            <!-- sidebar -->
            <div class="col-xl-4 col-lg-4 pre-scrollable d-none d-md-block sidebar">
                <h6 class="mt-2 text-muted">TRACKLIST</h6>
                {% for track in playlist %}
                <!-- sidebar card for loop -->
                <div data-id="{{track.id}}" class="card">
                    <div class="track-card-body card-body">
                        <div class="d-flex w-100 justify-content-start">
                            <div class="py-2 pr-3 text-dark">
                                <i class="fas fa-music fa-lg"></i>
                            </div>
                            <div>
                                <h6 class="mb-0">{{track.title}}</h6>
                                <p class="mb-1 font-weight-light">{{track.artist}}</p>            
                                <div class="btn-group btn-group-sm" role="group">
                                <!-- icon button links -->
                                {% for link in track.links %}
                                    {% if link.provider == "SPOTIFY" %}
                                        <a class="btn btn-outline-secondary" href="{{link.url}}" target="_blank"><i class="fab fa-spotify"></i></a>
                                    {% endif %}
                                    {% if link.provider == "APPLEMUSIC" %}
                                        <a class="btn btn-outline-secondary" href="{{link.url}}" target="_blank"><i class="fab fa-apple"></i></a>
                                    {% endif %}
                                    {% if link.provider == "SOUNDCLOUD" %}
                                        <a class="btn btn-outline-secondary" href="{{link.url}}" target="_blank"><i class="fab fa-soundcloud"></i></a>
                                    {% endif %}
                                    {% if link.provider == "YOUTUBE" %}
                                        <a class="btn btn-outline-secondary" href="{{link.url}}" target="_blank"><i class="fab fa-youtube"></i></a>
                                    {% endif %}
                                {% endfor %}
                                </div>    
                            </div>

                            <!-- time tag -->
                            <div class="ml-auto pl-2">
                                <a class="track-time badge badge-success" data-time="{{track.time}}" href="javascript:;">{{track.time_str}}</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>

{% endblock %}