{% extends "base_generic.html" %}

{% block title %}<title>Search</title>{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'mixlist/search.css' %}" />
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="offset-lg-4">
				<h1>Search results for {{q}}</h1>
			</div>
		</div>
		<div class="row">
			<div class="found-profiles col-lg-6">
				<h1>Profiles</h1>
				<div class="tab-pane">
					{% for result in r_EP.all %}
						<a href="{% url 'profile' result.id%}" class="list-group-item">
							{% if result.profile.profile_image %}
	                            <img src="{{ result.profile_image.url }}">
	                        {% else %}
	                            <img src="http://via.placeholder.com/20x20">
	                        {% endif %}
							{{result.user.username}}
						</a>
					{% endfor %}
					{% for result in r_P.all %}
						<a href="{% url 'profile' result.id%}" class="list-group-item">
							{% if result.profile_image %}
	                            <img src="{{ result.profile_image.url }}">
	                        {% else %}
	                            <img src="http://via.placeholder.com/20x20">
	                        {% endif %}
							{{result.user.username}}
						</a>
					{% endfor %}
				</div>
			</div>
			<div class="found-mixes col-lg-6">
				<h1>Mixes</h1>
				<div class="tab-pane">
					{% for mix in r_EM.all %}
						<a href="{{ mix.get_absolute_url }}" class="list-group-item">
							{% if mix.image %}
								<img src="{{mix.image.url}}">
							{% else %}
								<img src="http://via.placeholder.com/20x20">
							{% endif %}
							{% if mix.artist != None %}
                               {{mix.artist}} - 
                            {% endif %}
                            {{mix.title}}
						</a>
					{% endfor %}
					{% for mix in r_M.all %}
						<a href="{{ mix.get_absolute_url }}" class="list-group-item">
							{% if mix.image %}
								<img src="{{mix.image.url}}">
							{% else %}
								<img src="http://via.placeholder.com/20x20">
							{% endif %}
							{% if mix.artist != None %}
                               {{mix.artist}} - 
                            {% endif %}
                            {{mix.title}}
						</a>
					{% endfor %}
                    {% for mix in r_MA.all %}
						<a href="{{ mix.get_absolute_url }}" class="list-group-item">
							{% if mix.image %}
								<img src="{{mix.image.url}}">
							{% else %}
								<img src="http://via.placeholder.com/20x20">
							{% endif %}
							{% if mix.artist != None %}
                               {{mix.artist}} - 
                            {% endif %}
                            {{mix.title}}                            
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}