
body {
  padding-top: 50px;
}


h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  opacity: 0;
}

h2 {
  padding-bottom: 0px
  color:white;
}

p {
  color: white;
}

a[href*="#1"] {
  padding-right: 20px;
  background: url(musicBtn.png) no-repeat 100%;
  background-size: 15px 15px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  background: url(background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 2rem;
  background-opacity:0;
}

.placeholder img {
  position: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.

