label {
	display: none;
}
button {
	display: block;
	float: right;
	font-size: 16px;
}
textarea,
input {
	width: 100%;
	width: calc(100% - 1.2em);
	padding: 0.6em;
	border: 1px solid #444;
	box-sizing: content-box;
	font-size: 16px;

}
textarea {
	height: 100px;
	background: transparent !important;
}
.post-form{
	width: 30%;
	padding-left: 3%;
}
