body{
	margin-top: 10px;

}
#filters{
	margin-left: 30px;
}
#chart{
	margin-left: 14px;
	width: 98%;	
}

#chart td{
	vertical-align: middle;
}

#uploader{
	padding: 0px 0px;
	word-wrap: normal;
	display: inline-block;

}

#mix{
	font-weight: 900;
}

li{
	margin-left: 8px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

a {
	color: black;
}

a:link {
    text-decoration: none;
	
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
	color: black;
}

a:active {
    text-decoration: underline;
}

.mix_img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 100px; /* Set a small width */
}
