div {
    /* border-style: solid; */
    text-align: center;
}

div.mixes {
	overflow: auto;
}

ul {
  list-style-type: none;
}

.container {
    position: relative;
    bottom: 20px;

    width: 75%;
    border: 0px solid #8AC007;
}

.card-columns {  
    column-count: 2;    
}