/* padding for navbar */
body {
    padding-top: 56px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

/* used to make playlist sidebar the height of the area between navbars */
.pre-scrollable {
    max-height: calc(100vh - 142px);
}

.card {
    margin-top: 6px;
    margin-bottom: 6px;
}

.card-body {
    padding: 0.75rem;
}

.card-body p {
    font-size: 0.8rem;
}

.card-body h6 {
    font-size: 0.9rem;
}

.sidebar {
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
    padding-bottom: 6px;
}

.progress {
    height: 0.8rem;
}

.progress-label {
    font-size: 14px;
    float: left;
    margin-right: 0.5em;
    width: 40px;
}