/* padding for navbar */
body {
    padding-top: 56px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* used to make playlist sidebar the height of the area between navbars */
.pre-scrollable {
    max-height: calc(100vh - 56px);
}

.card {
    margin-top: 6px;
    margin-bottom: 6px;
}

.progress {
    height: 0.8rem;
}

.progress-label {
    font-size: 14px;
    float: left;
    margin-right: 0.5em;
    width: 40px;
}

.btn-soundcloud {
    background-color: #f50;
    color: white!important;
}

.btn-spotify {
    background-color: #1db954;
    color: white!important;
}

.btn-apple-music {
    background-color: #FF365D;
    color: white!important;
}

.btn-youtube {
    background-color: red;
    color: white!important;
}


.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
