/* padding for navbar */
body {
    padding-top: 56px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* used to make playlist sidebar the height of the area between navbars */
.pre-scrollable {
    max-height: calc(100vh - 56px);
}

.card {
    margin-top: 6px;
    margin-bottom: 6px;
}

.progress {
    height: 0.8rem;
}

.progress-label {
    font-size: 14px;
    float: left;
    margin-right: 0.5em;
    width: 40px;
}

