body {
	padding-top: 70px;
}

#upload-a-mix {
	padding-top: 20px;
	padding-bottom: 30px;
}

.upload-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.separator {
	padding-top: 20px;
	padding-bottom: 0px;
}