body {
	padding-top: 70px;
}

#upload-a-mix {
	padding-top: 20px;
	padding-bottom: 30px;
}

.ttime {
    font-weight: bold;
}

.ttitle {
    font-style: italic;
}

.upload-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.tag {
	padding-top: 0px;
	padding-bottom: 10px;
}

.separator {
	padding-top: 20px;
	padding-bottom: 0px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.scrub-bar-container {
    padding-top: 20px;
	padding-bottom: 20px;    
}