body {
	padding-top: 70px;
}

#upload-a-mix {
	padding-top: 20px;
	padding-bottom: 30px;
}

.ttime {
    font-weight: bold;
}

.ttitle {
    font-style: italic;
}

.upload-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.tag {
	padding-top: 0px;
	padding-bottom: 10px;
}

.separator {
	padding-top: 20px;
	padding-bottom: 0px;
}
